header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(215, 215, 215);
    background-color: rgb(215, 215, 215);
    height: 50px;
}
main{
    display: flex;
}
.mainpart{
    display: flex;
    border: 1px solid beige;
    background-color: beige;
    height: 300px;
    width: 70%;
    align-items: center;
    flex-direction: column;
}
.part{
    display: flex;
    margin: 50px 50px 20px; 
}
.E12{
    display: flex;
}
.main_part_one{
    display: flex;
    border: 1px solid rgb(223, 223, 145);
    background-color: rgb(223, 223, 145);
    margin: 30px 30px 5px; 
    height: 60px;
    width: 490px;
    justify-content: center;
    align-items: center;
}
.main_part_two{
    display: flex; 
    margin: 30px 50px 20px;
    height: 60px;
    width: 1050px; 
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(223, 223, 145);
    background-color: rgb(223, 223, 145);
}
.side_part{
    display: flex; 
    border: 1px solid rgb(122, 219, 122);
    background-color: rgb(122, 219, 122);
    height: 300px;
    width: 30%; 
    justify-content: center; 
}
footer{
    display: flex;
    border: 1px solid rgb(204, 200, 200);
    background-color: rgb(204, 200, 200);
    height: 100px; 
    justify-content: space-around;
    align-items: center;
}
.section{
    display: flex; 
    border: 1px solid white;
    background-color: white;
    height: 70px;
    width: 200px;
    align-items: center;
    justify-content: space-around 
}